@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index 2";
}

<div data-role="page" data-codebehind="views.secondPage">
    <h2>Second Page</h2>
    <div>Date created: <span data-id="spnDateCreated"></span></div>
    <a href="/Home/Index" data-role="button">Go to first page</a>
</div>
